/* 公共样式 */
/* 公共样式 */
.clearfix::before,
.clearfix::after {
    content: '';
    display: table;
    clear: both;
}


/* 去除a的下划线 */
a {
    text-decoration: none;

}

body {
    font: 14px/1.5 Helvetica Neue, Helvetica, Arial, Microsoft Yahei, Hiragino Sans GB, Heiti SC, WenQuanYi Micro Hei, sans-serif;


}

.sb {
    border: 1px solid red;
}

/* */


